flows/data-generator/postgres-cdc-demo.json
{
  "externalControllerServices": {},
  "flow": {
    "createdTimestamp": 1776533264266,
    "description": "Data Generator for CDC Postgres Demo",
    "identifier": "postgres-cdc-demo",
    "lastModifiedTimestamp": 1776533264266,
    "name": "postgres-cdc-demo",
    "versionCount": 0
  },
  "flowContents": {
    "identifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
    "instanceIdentifier": "17c463d4-019e-1000-ffff-ffffb5d89428",
    "name": "CDC Postgres Demo - Data Generator",
    "comments": "",
    "position": {
      "x": 400.0,
      "y": 400.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "319fc8dd-d0fc-3584-ffff-ffff82c298f6",
        "instanceIdentifier": "8b4b0eb4-5a15-3c86-8377-ee395b9597d8",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": -2336.0,
          "y": -1688.0
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Table Name": "${target_table}",
          "Quote Column Identifiers": "false",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "ce22d3a0-f94b-3a61-ffff-ffff82c298f6",
          "Delete Keys": null,
          "Record Reader": "0e0e358c-6737-362e-ffff-ffff82c298f6",
          "Quote Table Identifiers": "false",
          "Schema Name": "#{Schema Name}",
          "Database Session AutoCommit": "false",
          "Unmatched Field Behavior": "Ignore Unmatched Fields",
          "Database Name": "#{Database Name}",
          "Allow Multiple SQL Statements": "false",
          "Rollback On Failure": "false",
          "Update Keys": "${update.keys}",
          "Field Containing SQL": null,
          "Database Dialect Service": null,
          "Data Record Path": null,
          "Statement Type Record Path": null,
          "Column Name Translation Pattern": null,
          "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
          "Binary String Format": "UTF-8",
          "Unmatched Column Behavior": "Fail on Unmatched Columns",
          "Database Type": "PostgreSQL",
          "Post-Processing SQL": null,
          "Translate Field Names": "true",
          "Statement Type": "Use statement.type Attribute",
          "Pre-Processing SQL": null,
          "Table Schema Cache Size": "100",
          "Maximum Batch Size": "1"
        },
        "propertyDescriptors": {
          "Table Name": {
            "name": "Table Name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Quote Column Identifiers": {
            "name": "Quote Column Identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Delete Keys": {
            "name": "Delete Keys",
            "displayName": "Delete Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Quote Table Identifiers": {
            "name": "Quote Table Identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Name": {
            "name": "Schema Name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Session AutoCommit": {
            "name": "Database Session AutoCommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unmatched Field Behavior": {
            "name": "Unmatched Field Behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Name": {
            "name": "Database Name",
            "displayName": "Database Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Multiple SQL Statements": {
            "name": "Allow Multiple SQL Statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Rollback On Failure": {
            "name": "Rollback On Failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Update Keys": {
            "name": "Update Keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Field Containing SQL": {
            "name": "Field Containing SQL",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Pattern": {
            "name": "Column Name Translation Pattern",
            "displayName": "Column Name Translation Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Strategy": {
            "name": "Column Name Translation Strategy",
            "displayName": "Column Name Translation Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Binary String Format": {
            "name": "Binary String Format",
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unmatched Column Behavior": {
            "name": "Unmatched Column Behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Type": {
            "name": "Database Type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Post-Processing SQL": {
            "name": "Post-Processing SQL",
            "displayName": "Post-Processing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Translate Field Names": {
            "name": "Translate Field Names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type": {
            "name": "Statement Type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Pre-Processing SQL": {
            "name": "Pre-Processing SQL",
            "displayName": "Pre-Processing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Table Schema Cache Size": {
            "name": "Table Schema Cache Size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Batch Size": {
            "name": "Maximum Batch Size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "retriedRelationships": [
          "failure",
          "retry"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "30 sec",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "feabdd41-9f16-30e4-ffff-ffff82c298f6",
        "instanceIdentifier": "340992e6-a2d0-356a-bc7f-1e609522fc08",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": -2136.0,
          "y": -2184.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "File Size": "0B",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Mime Type": "application/json",
          "Custom Text": null,
          "Character Set": "UTF-8",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Mime Type": {
            "name": "Mime Type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Custom Text": {
            "name": "Custom Text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "b32e5529-ca4c-3935-8306-55d7f246f0fc",
        "instanceIdentifier": "5654b3cb-1021-3463-85bb-cfaef5ed77aa",
        "name": "Init",
        "comments": "",
        "position": {
          "x": -1752.0,
          "y": -2384.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "File Size": "0B",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Mime Type": null,
          "Custom Text": null,
          "Character Set": "UTF-8",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Mime Type": {
            "name": "Mime Type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Custom Text": {
            "name": "Custom Text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Character Set": {
            "name": "Character Set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "999 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "db2308c1-0665-3469-ffff-ffff82c298f6",
        "instanceIdentifier": "cf6ef54a-4d73-341f-bcef-6c860652650c",
        "name": "PutDatabaseRecord",
        "comments": "",
        "position": {
          "x": -1936.0,
          "y": -1688.0
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Table Name": "${target_table}",
          "Quote Column Identifiers": "false",
          "Max Wait Time": "0 seconds",
          "Database Connection Pooling Service": "ce22d3a0-f94b-3a61-ffff-ffff82c298f6",
          "Delete Keys": null,
          "Record Reader": "0e0e358c-6737-362e-ffff-ffff82c298f6",
          "Quote Table Identifiers": "false",
          "Schema Name": "#{Schema Name}",
          "Database Session AutoCommit": "false",
          "Unmatched Field Behavior": "Ignore Unmatched Fields",
          "Database Name": "#{Database Name}",
          "Allow Multiple SQL Statements": "false",
          "Rollback On Failure": "false",
          "Update Keys": "${update.keys}",
          "Field Containing SQL": null,
          "Database Dialect Service": null,
          "Data Record Path": null,
          "Statement Type Record Path": null,
          "Column Name Translation Pattern": null,
          "Column Name Translation Strategy": "REMOVE_UNDERSCORE",
          "Binary String Format": "UTF-8",
          "Unmatched Column Behavior": "Ignore Unmatched Columns",
          "Database Type": "PostgreSQL",
          "Post-Processing SQL": null,
          "Translate Field Names": "true",
          "Statement Type": "DELETE",
          "Pre-Processing SQL": null,
          "Table Schema Cache Size": "1",
          "Maximum Batch Size": "1000"
        },
        "propertyDescriptors": {
          "Table Name": {
            "name": "Table Name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Quote Column Identifiers": {
            "name": "Quote Column Identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection Pooling Service": {
            "name": "Database Connection Pooling Service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Delete Keys": {
            "name": "Delete Keys",
            "displayName": "Delete Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Record Reader": {
            "name": "Record Reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Quote Table Identifiers": {
            "name": "Quote Table Identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Name": {
            "name": "Schema Name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Session AutoCommit": {
            "name": "Database Session AutoCommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unmatched Field Behavior": {
            "name": "Unmatched Field Behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Name": {
            "name": "Database Name",
            "displayName": "Database Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Multiple SQL Statements": {
            "name": "Allow Multiple SQL Statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Rollback On Failure": {
            "name": "Rollback On Failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Update Keys": {
            "name": "Update Keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Field Containing SQL": {
            "name": "Field Containing SQL",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Dialect Service": {
            "name": "Database Dialect Service",
            "displayName": "Database Dialect Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Pattern": {
            "name": "Column Name Translation Pattern",
            "displayName": "Column Name Translation Pattern",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Column Name Translation Strategy": {
            "name": "Column Name Translation Strategy",
            "displayName": "Column Name Translation Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Binary String Format": {
            "name": "Binary String Format",
            "displayName": "Binary String Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Unmatched Column Behavior": {
            "name": "Unmatched Column Behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Type": {
            "name": "Database Type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Post-Processing SQL": {
            "name": "Post-Processing SQL",
            "displayName": "Post-Processing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Translate Field Names": {
            "name": "Translate Field Names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Statement Type": {
            "name": "Statement Type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Pre-Processing SQL": {
            "name": "Pre-Processing SQL",
            "displayName": "Pre-Processing SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Table Schema Cache Size": {
            "name": "Table Schema Cache Size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Batch Size": {
            "name": "Maximum Batch Size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 3,
        "retriedRelationships": [
          "failure",
          "retry"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "30 sec",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "a21dd238-9d0c-3dcf-ffff-ffff82c298f6",
        "instanceIdentifier": "d386dcd6-7be5-3096-a567-e5f994d07d86",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": {
          "x": -2136.0,
          "y": -1912.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Routing Strategy": "Route to Property name",
          "delete": "${operation:equals('delete')}"
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "delete": {
            "name": "delete",
            "displayName": "delete",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "bb131e84-d45c-364f-8cd3-0b902f9e7bd8",
        "instanceIdentifier": "9629375c-8870-3cd9-a3e2-58e1444a54d5",
        "name": "ExecuteSQLStatement",
        "comments": "",
        "position": {
          "x": -1760.0,
          "y": -2184.0
        },
        "type": "com.snowflake.openflow.runtime.processors.database.ExecuteSQLStatement",
        "bundle": {
          "group": "com.snowflake.openflow.runtime",
          "artifact": "runtime-database-processors-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Max Batch Size": "1",
          "Connection Pooling Service": "ce22d3a0-f94b-3a61-ffff-ffff82c298f6",
          "Max Content Reference Size": "32 KB",
          "SQL": "CREATE SCHEMA IF NOT EXISTS #{Schema Name};\n\nCREATE TABLE IF NOT EXISTS #{Schema Name}.customers (\n    customer_id INTEGER PRIMARY KEY,\n    first_name VARCHAR(100) NOT NULL,\n    last_name VARCHAR(100) NOT NULL,\n    email VARCHAR(255),\n    phone VARCHAR(50),\n    updated_at TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS #{Schema Name}.orders (\n    order_id INTEGER PRIMARY KEY,\n    customer_id INTEGER NOT NULL,\n    order_status VARCHAR(50) DEFAULT 'pending',\n    total_amount NUMERIC(10,2),\n    shipping_address TEXT,\n    updated_at TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE IF NOT EXISTS #{Schema Name}.order_items (\n    item_id SERIAL PRIMARY KEY,\n    order_id INTEGER NOT NULL,\n    product_name VARCHAR(255) NOT NULL,\n    quantity INTEGER DEFAULT 1,\n    unit_price NUMERIC(10,2)\n);\n\nDO $$\nBEGIN\n    IF NOT EXISTS (SELECT 1 FROM pg_publication WHERE pubname = '#{Publication Name}') THEN\n        CREATE PUBLICATION #{Publication Name} FOR TABLE\n            #{Schema Name}.customers,\n            #{Schema Name}.orders,\n            #{Schema Name}.order_items;\n    END IF;\nEND\n$$;"
        },
        "propertyDescriptors": {
          "Max Batch Size": {
            "name": "Max Batch Size",
            "displayName": "Max Batch Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Connection Pooling Service": {
            "name": "Connection Pooling Service",
            "displayName": "Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Max Content Reference Size": {
            "name": "Max Content Reference Size",
            "displayName": "Max Content Reference Size",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "SQL": {
            "name": "SQL",
            "displayName": "SQL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "cab6c358-4633-3493-ffff-ffff82c298f6",
        "instanceIdentifier": "3e788cd9-66cb-307a-b7e6-cdda9036abb8",
        "name": "ExecuteScript",
        "comments": "",
        "position": {
          "x": -2136.0,
          "y": -2048.0
        },
        "type": "org.apache.nifi.processors.script.ExecuteScript",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-scripting-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Script File": null,
          "Script Engine": "Groovy",
          "Script Body": "import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef random = new Random()\n\ndef firstNames = ['John','Jane','Alice','Bob','Charlie','Emma','Liam','Olivia','Noah','Sophia',\n                  'James','Mary','Robert','Patricia','Michael','Jennifer','William','Linda','David','Elizabeth']\ndef lastNames = ['Smith','Jones','Brown','Wilson','Taylor','Davis','Clark','Moore','White','Harris',\n                 'Martin','Garcia','Martinez','Robinson','Lewis','Walker','Hall','Allen','Young','King']\ndef statuses = ['pending','processing','shipped','delivered','cancelled']\ndef products = ['Laptop','Mouse','Keyboard','Monitor','Headphones','USB Cable','Webcam','Desk Lamp',\n                'Chair','Backpack','Tablet','Phone Case','SSD Drive','RAM Module','Power Bank']\ndef addresses = ['123 Main St, New York, NY','456 Oak Ave, Los Angeles, CA','789 Pine Rd, Chicago, IL',\n                 '321 Elm St, Houston, TX','654 Maple Dr, Phoenix, AZ','987 Cedar Ln, Philadelphia, PA']\n\ndef pick = { list -> list[random.nextInt(list.size())] }\ndef now = System.currentTimeMillis()\n\ndef createFF = { content, attrs ->\n    def ff = session.create(flowFile)\n    ff = session.write(ff, { inputStream, outputStream ->\n        outputStream.write(JsonOutput.toJson(content).getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n    ff = session.putAttribute(ff, 'mime.type', 'application/json')\n    attrs.each { k, v -> ff = session.putAttribute(ff, k, v) }\n    session.transfer(ff, REL_SUCCESS)\n}\n\ndef customerIds = (1..5).collect { random.nextInt(200) + 1 }\ndef customers = customerIds.collect { id ->\n    [customer_id: id, first_name: pick(firstNames), last_name: pick(lastNames),\n     email: \"user_${id}@example.com\", phone: \"+1-${random.nextInt(900)+100}-${random.nextInt(9000)+1000}\",\n     updated_at: now]\n}\ncreateFF(customers, [operation: 'upsert', target_table: 'customers', 'update.keys': 'customer_id', 'statement.type': 'UPSERT', priority: '1'])\n\ndef orderIds = (1..10).collect { random.nextInt(500) + 1 }\ndef orders = orderIds.collect { id ->\n    [order_id: id, customer_id: pick(customerIds), order_status: pick(statuses),\n     total_amount: (random.nextInt(99000) + 1000) / 100.0, shipping_address: pick(addresses),\n     updated_at: now]\n}\ncreateFF(orders, [operation: 'upsert', target_table: 'orders', 'update.keys': 'order_id', 'statement.type': 'UPSERT', priority: '2'])\n\ndef items = (1..15).collect {\n    [order_id: pick(orderIds), product_name: pick(products),\n     quantity: random.nextInt(5) + 1, unit_price: (random.nextInt(49500) + 500) / 100.0]\n}\ncreateFF(items, [operation: 'insert', target_table: 'order_items', 'statement.type': 'INSERT', priority: '3', 'update.keys': 'item_id'])\n\ndef deleteOrderId = pick(orderIds)\ncreateFF([[order_id: deleteOrderId]],\n    [operation: 'delete', target_table: 'order_items', 'update.keys': 'order_id', 'statement.type': 'DELETE', priority: '4'])\ncreateFF([[order_id: deleteOrderId]],\n    [operation: 'delete', target_table: 'orders', 'update.keys': 'order_id', 'statement.type': 'DELETE', priority: '5'])\n\nsession.remove(flowFile)",
          "Module Directory": null
        },
        "propertyDescriptors": {
          "Script File": {
            "name": "Script File",
            "displayName": "Script File",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Script Engine": {
            "name": "Script Engine",
            "displayName": "Script Engine",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Script Body": {
            "name": "Script Body",
            "displayName": "Script Body",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Module Directory": {
            "name": "Module Directory",
            "displayName": "Module Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY"
              ]
            }
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "8952dcee-a044-3ce7-ffff-ffff82c298f6",
        "instanceIdentifier": "4f6b3c25-89ab-3076-a963-66cc0bfc7c7d",
        "name": "",
        "source": {
          "id": "cab6c358-4633-3493-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "3e788cd9-66cb-307a-b7e6-cdda9036abb8"
        },
        "destination": {
          "id": "a21dd238-9d0c-3dcf-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "d386dcd6-7be5-3096-a567-e5f994d07d86"
        },
        "labelIndex": 0,
        "zIndex": 3,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          "org.apache.nifi.prioritizer.PriorityAttributePrioritizer"
        ],
        "bends": [
          {
            "x": -2264.0,
            "y": -1920.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "d48fb03b-e35c-3bd8-ba2a-367f7aea6288",
        "instanceIdentifier": "d3f9b878-b9bd-37dc-912b-bdc5c32b9e1c",
        "name": "",
        "source": {
          "id": "b32e5529-ca4c-3935-8306-55d7f246f0fc",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "Init",
          "comments": "",
          "instanceIdentifier": "5654b3cb-1021-3463-85bb-cfaef5ed77aa"
        },
        "destination": {
          "id": "bb131e84-d45c-364f-8cd3-0b902f9e7bd8",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "ExecuteSQLStatement",
          "comments": "",
          "instanceIdentifier": "9629375c-8870-3cd9-a3e2-58e1444a54d5"
        },
        "labelIndex": 0,
        "zIndex": 7,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "872462d4-c05d-3dbf-ffff-ffff82c298f6",
        "instanceIdentifier": "3ec789a6-b276-3cf9-a48a-552d96a24cdd",
        "name": "",
        "source": {
          "id": "feabdd41-9f16-30e4-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "340992e6-a2d0-356a-bc7f-1e609522fc08"
        },
        "destination": {
          "id": "cab6c358-4633-3493-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "ExecuteScript",
          "comments": "",
          "instanceIdentifier": "3e788cd9-66cb-307a-b7e6-cdda9036abb8"
        },
        "labelIndex": 0,
        "zIndex": 1,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [
          {
            "x": -2264.0,
            "y": -2056.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "1411e515-b225-3ed5-b1f4-dd3e11fd2699",
        "instanceIdentifier": "8912cc05-f2ba-30b4-a3d4-a621dbb0d4a7",
        "name": "",
        "source": {
          "id": "bb131e84-d45c-364f-8cd3-0b902f9e7bd8",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "ExecuteSQLStatement",
          "comments": "",
          "instanceIdentifier": "9629375c-8870-3cd9-a3e2-58e1444a54d5"
        },
        "destination": {
          "id": "d07669ae-a671-3209-82a5-203a08b5759b",
          "type": "FUNNEL",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "1cdec18c-4442-39b4-a3f4-3fa0d898e163"
        },
        "labelIndex": 0,
        "zIndex": 8,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "5 min",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "36be0218-68a6-385b-ffff-ffff82c298f6",
        "instanceIdentifier": "ca3fc332-a8c0-304a-a9df-f1d45c2c3d88",
        "name": "",
        "source": {
          "id": "a21dd238-9d0c-3dcf-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "d386dcd6-7be5-3096-a567-e5f994d07d86"
        },
        "destination": {
          "id": "319fc8dd-d0fc-3584-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "8b4b0eb4-5a15-3c86-8377-ee395b9597d8"
        },
        "labelIndex": 0,
        "zIndex": 5,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          "org.apache.nifi.prioritizer.PriorityAttributePrioritizer"
        ],
        "bends": [
          {
            "x": -2160.0,
            "y": -1736.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "814739d0-f05a-3faa-aa8d-1ddfeef2fb31",
        "instanceIdentifier": "0d0a3593-6e98-3fb9-a70c-310be5019c2d",
        "name": "",
        "source": {
          "id": "bb131e84-d45c-364f-8cd3-0b902f9e7bd8",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "ExecuteSQLStatement",
          "comments": "",
          "instanceIdentifier": "9629375c-8870-3cd9-a3e2-58e1444a54d5"
        },
        "destination": {
          "id": "bf6f39e4-affd-36c1-b4fa-8e64a90d2b54",
          "type": "FUNNEL",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "53d3f5d4-fa84-3f52-b1a7-979d1c7f61d8"
        },
        "labelIndex": 0,
        "zIndex": 6,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "5 min",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "88fe6a11-55d0-3cc7-ffff-ffff82c298f6",
        "instanceIdentifier": "495e4ecd-0670-3515-b9ac-00b57bef9c26",
        "name": "",
        "source": {
          "id": "a21dd238-9d0c-3dcf-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "d386dcd6-7be5-3096-a567-e5f994d07d86"
        },
        "destination": {
          "id": "db2308c1-0665-3469-ffff-ffff82c298f6",
          "type": "PROCESSOR",
          "groupId": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608",
          "name": "PutDatabaseRecord",
          "comments": "",
          "instanceIdentifier": "cf6ef54a-4d73-341f-bcef-6c860652650c"
        },
        "labelIndex": 0,
        "zIndex": 4,
        "selectedRelationships": [
          "delete"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          "org.apache.nifi.prioritizer.PriorityAttributePrioritizer"
        ],
        "bends": [
          {
            "x": -1760.0,
            "y": -1736.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      }
    ],
    "labels": [],
    "funnels": [
      {
        "identifier": "bf6f39e4-affd-36c1-b4fa-8e64a90d2b54",
        "instanceIdentifier": "53d3f5d4-fa84-3f52-b1a7-979d1c7f61d8",
        "position": {
          "x": -1648.0,
          "y": -1944.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "d07669ae-a671-3209-82a5-203a08b5759b",
        "instanceIdentifier": "1cdec18c-4442-39b4-a3f4-3fa0d898e163",
        "position": {
          "x": -1192.0,
          "y": -1944.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      }
    ],
    "controllerServices": [
      {
        "identifier": "ce22d3a0-f94b-3a61-ffff-ffff82c298f6",
        "instanceIdentifier": "57953ba7-22b2-359b-8e6d-b5f0c2ad7be0",
        "name": "DBCP Connection Pool",
        "comments": "",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Maximum Idle Connections": "8",
          "Database Driver Locations": "#{Database Driver}",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "Minimum Idle Connections": "0",
          "Kerberos User Service": null,
          "Max Total Connections": "8",
          "Validation Query": null,
          "Database Password Provider": null,
          "Database Connection URL": "#{Database Connection URL}",
          "Password Source": "PASSWORD",
          "Time Between Eviction Runs": "-1",
          "Database User": "#{Database User}",
          "Soft Minimum Evictable Idle Time": "-1",
          "Maximum Connection Lifetime": "-1",
          "Minimum Evictable Idle Time": "30 mins",
          "Password": "#{Database Password}"
        },
        "propertyDescriptors": {
          "Maximum Idle Connections": {
            "name": "Maximum Idle Connections",
            "displayName": "Maximum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Locations": {
            "name": "Database Driver Locations",
            "displayName": "Database Driver Locations",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY",
                "URL"
              ]
            }
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Minimum Idle Connections": {
            "name": "Minimum Idle Connections",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Kerberos User Service": {
            "name": "Kerberos User Service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Validation Query": {
            "name": "Validation Query",
            "displayName": "Validation Query",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database Password Provider": {
            "name": "Database Password Provider",
            "displayName": "Database Password Provider",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password Source": {
            "name": "Password Source",
            "displayName": "Password Source",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Between Eviction Runs": {
            "name": "Time Between Eviction Runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Soft Minimum Evictable Idle Time": {
            "name": "Soft Minimum Evictable Idle Time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Maximum Connection Lifetime": {
            "name": "Maximum Connection Lifetime",
            "displayName": "Maximum Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Minimum Evictable Idle Time": {
            "name": "Minimum Evictable Idle Time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2026.5.8.5"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      },
      {
        "identifier": "0e0e358c-6737-362e-ffff-ffff82c298f6",
        "instanceIdentifier": "bc2fc4e2-ee83-355d-8577-1668b53d954a",
        "name": "JSON Reader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "2026.5.8.8"
        },
        "properties": {
          "Schema Branch": null,
          "Schema Reference Reader": null,
          "Schema Text": "${avro.schema}",
          "Starting Field Name": null,
          "Max String Length": "20 MB",
          "Schema Inference Cache": null,
          "Starting Field Strategy": "ROOT_NODE",
          "Schema Registry": null,
          "Schema Access Strategy": "infer-schema",
          "Schema Name": "${schema.name}",
          "Timestamp Format": null,
          "Date Format": null,
          "Schema Application Strategy": "SELECTED_PART",
          "Schema Version": null,
          "Time Format": null,
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "Schema Branch": {
            "name": "Schema Branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Reference Reader": {
            "name": "Schema Reference Reader",
            "displayName": "Schema Reference Reader",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Text": {
            "name": "Schema Text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Starting Field Name": {
            "name": "Starting Field Name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Inference Cache": {
            "name": "Schema Inference Cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Starting Field Strategy": {
            "name": "Starting Field Strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Registry": {
            "name": "Schema Registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Access Strategy": {
            "name": "Schema Access Strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Name": {
            "name": "Schema Name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Application Strategy": {
            "name": "Schema Application Strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Schema Version": {
            "name": "Schema Version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false,
            "dynamic": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "2026.5.8.5"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "1ba8dcd1-9298-3aa2-bc15-0d72080fb608"
      }
    ],
    "parameterContextName": "CDC Postgres Demo - Data Generator",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "scheduledState": "ENABLED",
    "executionEngine": "INHERITED",
    "maxConcurrentTasks": 1,
    "statelessFlowTimeout": "1 min",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "parameterContexts": {
    "CDC Postgres Demo - Data Generator": {
      "name": "CDC Postgres Demo - Data Generator",
      "parameters": [
        {
          "name": "Database Driver",
          "description": "",
          "sensitive": false,
          "provided": false
        },
        {
          "name": "Database Connection URL",
          "description": "",
          "sensitive": false,
          "provided": false,
          "value": "jdbc:postgresql://your-postgres-service-id.your-account.region.aws.postgres.snowflake.app:5432/mydb?sslmode=require"
        },
        {
          "name": "Database User",
          "description": "",
          "sensitive": false,
          "provided": false,
          "value": "snowflake_admin"
        },
        {
          "name": "Database Name",
          "description": "",
          "sensitive": false,
          "provided": false,
          "value": "postgres"
        },
        {
          "name": "Database Password",
          "description": "",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "Schema Name",
          "description": "",
          "sensitive": false,
          "provided": false,
          "value": "demo_postgres"
        },
        {
          "name": "Publication Name",
          "description": "Name of the PostgreSQL publication to create for CDC. Must match the publication name used by the CDC connector.",
          "sensitive": false,
          "provided": false,
          "value": "demo_publication"
        }
      ],
      "description": "",
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "snapshotMetadata": {
    "author": "PVILLARD",
    "flowIdentifier": "postgres-cdc-demo",
    "timestamp": 1776533450400
  }
}
